*.pyc

aim_bot_repo-project/build
aim_bot_repo-project/Pipfile.lock
project.xml.log

.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.sconsign.dblite
.robot_type.txt

gcov-result

docs/_build
docs/api
docs/doxyoutput
